In [2]:
d1= {"num":[2,3,4], "assignment":(1,2,3,4,5),"launch_date":{12,34,54}}

In [3]:
d1

{'num': [2, 3, 4], 'assignment': (1, 2, 3, 4, 5), 'launch_date': {12, 34, 54}}

In [4]:
d1.append("class_time":{1,2,3,2})
d1

SyntaxError: invalid syntax (1520960033.py, line 1)

In [6]:
d1= {"num":[2,3,4], "assignment":(1,2,3,4,5),"launch_date":{12,34,54},"class_time":{'web_dev':3,'python':8}}

In [7]:
d1

{'num': [2, 3, 4],
 'assignment': (1, 2, 3, 4, 5),
 'launch_date': {12, 34, 54},
 'class_time': {'web_dev': 3, 'python': 8}}

In [8]:
d1['class_time']['python']

8

In [9]:
d1['mentor']=["raj","taj","saaj","laaj"]

In [10]:
d1

{'num': [2, 3, 4],
 'assignment': (1, 2, 3, 4, 5),
 'launch_date': {12, 34, 54},
 'class_time': {'web_dev': 3, 'python': 8},
 'mentor': ['raj', 'taj', 'saaj', 'laaj']}

In [11]:
del d1['num']

In [12]:
d1

{'assignment': (1, 2, 3, 4, 5),
 'launch_date': {12, 34, 54},
 'class_time': {'web_dev': 3, 'python': 8},
 'mentor': ['raj', 'taj', 'saaj', 'laaj']}

In [13]:
#To find keys list from dict
d1.keys()

dict_keys(['assignment', 'launch_date', 'class_time', 'mentor'])

In [14]:
#to conver to list
list(d1.keys())

['assignment', 'launch_date', 'class_time', 'mentor']

In [15]:
list(d1.values())  #TO fetch all the values

[(1, 2, 3, 4, 5),
 {12, 34, 54},
 {'web_dev': 3, 'python': 8},
 ['raj', 'taj', 'saaj', 'laaj']]

In [16]:
#To fetch Key-value pair
d1.items()

dict_items([('assignment', (1, 2, 3, 4, 5)), ('launch_date', {34, 12, 54}), ('class_time', {'web_dev': 3, 'python': 8}), ('mentor', ['raj', 'taj', 'saaj', 'laaj'])])

In [17]:
#convert to list
list(d1.items())

[('assignment', (1, 2, 3, 4, 5)),
 ('launch_date', {12, 34, 54}),
 ('class_time', {'web_dev': 3, 'python': 8}),
 ('mentor', ['raj', 'taj', 'saaj', 'laaj'])]

In [18]:
d1.pop('assignment')

(1, 2, 3, 4, 5)

In [19]:
d1

{'launch_date': {12, 34, 54},
 'class_time': {'web_dev': 3, 'python': 8},
 'mentor': ['raj', 'taj', 'saaj', 'laaj']}

In [22]:
# Control Statement / Decision Making >>
# if-else
'''
Q. 
if Marks > 80 then Batch=A1
if Marks > 60
if Marks

'''

In [43]:
marks=int(input("Enter your marks:"))
if(marks < 0):
    print("Please enter Positive marks")
else:
    if(marks >= 80):
        print('Batch: A0')
    elif(marks >= 60 and marks <80):
        print('Batch: A1')
    elif(marks >= 40 and marks <60):
        print('Batch : A2')
    else:
        print('Batch : A3')

Enter your marks: 60

Batch: A1

In [44]:
10>67,10>=10,0<0,0>=0

(False, True, False, True)

In [47]:
#Simple If-else
price=int(input("Enter budget:"))
if price > 1000:
    print ("Will not buy")
else:
    print("Will buy")

Enter budget: 12

Will buy

In [50]:
price=int(input("Enter budget:"))
if price > 1000:
    print ("Will not buy")
# else:
#     print("Will buy")

Enter budget: 4

In [51]:
#Nested if-else
price=int(input("Enter budget:"))
if price > 1000:
    print ("Will not buy")
    if price > 5000:
        print("Too costly bro")
else:
    print("Will buy")

Enter budget: 7000

Will not buy
Too costly bro

In [54]:
price=int(input("Enter budget:"))
if price > 1000:
    print ("Will not buy")
    if price > 5000:
        print("Too costly bro")
    elif price> 2000:
        print("Lena to phir v nahi hai")
    elif price<2000:
        print("Ab itna bol rhe ho to le leta hu")
else:
    print("Will buy")

Enter budget: 1800

Will not buy
Ab itna bol rhe ho to le leta hu

In [61]:
l = [1,2,2,3,4,5,6,7,8,12]
l

[1, 2, 2, 3, 4, 5, 6, 7, 8, 12]

In [57]:
for i in l:
    print(l[i])

2
2
2
3
4
5
6
7
8

IndexError: list index out of range

In [62]:
l[0] + 1

2

In [63]:
l1=[]

In [64]:
l1.append(l[0]+1)

In [65]:
l1

[2]

In [68]:
for i in l:
    print(i)

1
2
2
3
4
5
6
7
8
12

In [78]:
for i in l:
    l1.append(i+1)
l1

[2,
 2,
 3,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 13,
 2,
 3,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 13,
 2,
 3,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 13,
 2,
 3,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 13,
 2,
 3,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 13]

In [73]:
num= int(input("Enter Table to print:"))
index=10
for i in index:
         print(num ,'*', index ,'=', num*index)

Enter Table to print: 10

TypeError: 'int' object is not iterable

In [79]:
l=["suharsh",'kumar','pwskills','course']

In [84]:
l1=[]
for i in l:
    print(i)
    l1.append(i.upper())
l1

suharsh
kumar
pwskills
course

['SUHARSH', 'KUMAR', 'PWSKILLS', 'COURSE']

In [85]:
l=[1,2,2,4,5,6,"suharsh","kumar",154,3.24,"ab"]

In [86]:
l

[1, 2, 2, 4, 5, 6, 'suharsh', 'kumar', 154, 3.24, 'ab']

In [94]:
#Put strings in one list and integers in other
l1_num=[]
l2_str=[]
for i in l:
    if(type(i) == int or type(i) == float):
        l1_num.append(i)
    else:
        l2_str.append(i)

l1_num,l2_str

([1, 2, 2, 4, 5, 6, 154, 3.24], ['suharsh', 'kumar', 'ab'])

In [95]:
1/False

ZeroDivisionError: division by zero

In [96]:
num1= 23

num2= 44

num2= 2+3j

num1= num2.imag

num2-num1

(-1+3j)

In [99]:
# 20%_num  = 1 
Num_100   =2
# Pw-skills   =1
_pw_skills=2

In [103]:
Name = 'pwskills'

Name[0] = 'P'

TypeError: 'str' object does not support item assignment

In [102]:
'pwskills'.upper().lower().isalnum()

True

In [104]:
a="suh"+"kum"
a

'suhkum'

In [105]:
True/False

ZeroDivisionError: division by zero

In [106]:
num1= 23

num2= 44

num2= 2+3j

num1= num2.imag

num2-num1

(-1+3j)

In [107]:
's'.upper().lower().isupper()

False