In [1]:
l=[1,2,3,4,5]

In [3]:
for i in l:
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>

In [6]:
l1=["Suharsh",'kumar','jay']
for i in l1:
    print(i)

Suharsh
kumar
jay

In [9]:
#for - else {Not available with other prog lang}
for i in l1:
    print(i)
else:     #after completion of for loop then else executes
    print("If for loop able to executes completely then only else will execute")

Suharsh
kumar
jay
If for loop able to executes completely then only else will execute

In [10]:
#where not to use else with for loop
for i in l1:
    if i == "kumar":
        break   #Breaks for loop if element found
    print(i)

Suharsh

In [11]:
l1

['Suharsh', 'kumar', 'jay']

In [12]:
for i in l1:
    if i== "kumar":
        break
    print(i)
else:
    print("Execute this if for loop is able to complete itself")

Suharsh

In [15]:
l1

['Suharsh', 'kumar', 'jay']

In [16]:
for i in l1:
    if i=="kumar":
        continue #skips condition and print other elements from list
    print(i)

Suharsh
jay

In [19]:
for i in l1:
    if i== "kumar":
        continue
    print(i)
else:
    print("Execute this if for loop is able to complete itself")

Suharsh
jay
Execute this if for loop is able to complete itself

In [20]:
#range() function is a generator function
#used to generate range of integers

In [23]:
range(5)  #Excluding last element

range(0, 5)

In [24]:
list(range(5))

[0, 1, 2, 3, 4]

In [25]:
list(range(0,5,1))  #range(lower_bound,upper_bound,jump)

[0, 1, 2, 3, 4]

In [29]:
list(range(0,21,2))  #print 0 to 20 >> Only Even numbers

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [28]:
list(range(-10,0))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [30]:
l1

['Suharsh', 'kumar', 'jay']

In [34]:
#print list in reverse using for loop
# Step1 : fetch length of List
len(l1)

3

In [35]:
list(range(len(l1)))

[0, 1, 2]

In [38]:
for i in range(len(l1)):
    print(l1[i])

Suharsh
kumar
jay

In [43]:
list(range(len(l1)-1,-1,-1))  #producing all indexes in reverse-order

[2, 1, 0]

In [45]:
#final solution
for i in range(len(l1)-1,-1,-1):
    print(l1[i])

jay
kumar
Suharsh

In [46]:
l2=[23,4,5,4,2,34,56,76,33,45,5643,2432]

In [48]:
#fetch data present at even index
list(range(0,len(l2),2))  #producing even indexes

[0, 2, 4, 6, 8, 10]

In [49]:
for i in range(0,len(l2),2):
    print(l2[i])

23
5
2
56
33
5643

In [75]:
len(l2)
l2

[23, 4, 5, 4, 2, 34, 56, 76, 33, 45, 5643, 2432]

In [76]:
list(range(0,len(l2),1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [105]:
#fetch data at odd index
for i in range(0,len(l2),3):
    print(l2[i])

2432
5
34
33

In [92]:
l3 = [1,2,3,4,5,6,7,8,9]
#Print sum of all elements in list
sum(l3)

TypeError: 'int' object is not callable

In [91]:
#using for loop:
add = 0
for i in l3:
    add = add + i
add

45

In [96]:
t=(1,2,3,4,5)
for i in t:
    print(i)

1
2
3
4
5

In [97]:
a=0
for i in t:
    a+=i
a

15

In [99]:
s={1,2,3,4,5,"suharsh","kumar"}
for i in s:
    print(i)

1
2
3
4
5
suharsh
kumar

In [100]:
s1="pwskills"
for i in s1:
    print(i)

p
w
s
k
i
l
l
s

In [106]:
dict ={"name":"Suharsh","class":"DS Masters",
       "topic":["Python","stats","ML","AI","ComputerVision","NLP","Resume","Interview"]}

In [107]:
dict

{'name': 'Suharsh',
 'class': 'DS Masters',
 'topic': ['Python',
  'stats',
  'ML',
  'AI',
  'ComputerVision',
  'NLP',
  'Resume',
  'Interview']}

In [108]:
dict['name']

'Suharsh'

In [110]:
d= dict
d.keys()

dict_keys(['name', 'class', 'topic'])

In [111]:
for i in d.keys():   #On basis of Keys we can iterate dict items
    print(d[i])

Suharsh
DS Masters
['Python', 'stats', 'ML', 'AI', 'ComputerVision', 'NLP', 'Resume', 'Interview']

In [112]:
d.values()

dict_values(['Suharsh', 'DS Masters', ['Python', 'stats', 'ML', 'AI', 'ComputerVision', 'NLP', 'Resume', 'Interview']])

In [114]:
for i in d.values():
    print(i)

Suharsh
DS Masters
['Python', 'stats', 'ML', 'AI', 'ComputerVision', 'NLP', 'Resume', 'Interview']

In [115]:
d.items()

dict_items([('name', 'Suharsh'), ('class', 'DS Masters'), ('topic', ['Python', 'stats', 'ML', 'AI', 'ComputerVision', 'NLP', 'Resume', 'Interview'])])

In [116]:
for i in d.items():
    print(i)

('name', 'Suharsh')
('class', 'DS Masters')
('topic', ['Python', 'stats', 'ML', 'AI', 'ComputerVision', 'NLP', 'Resume', 'Interview'])

In [ ]:
i=2
for i in i:
    print(i)

In [117]:
for i in d.items():
    print(i)

('name', 'Suharsh')
('class', 'DS Masters')
('topic', ['Python', 'stats', 'ML', 'AI', 'ComputerVision', 'NLP', 'Resume', 'Interview'])

In [122]:
# True or False and True
# not(True) or False and True 
False or False and not(True)

False

In [131]:
# s="Suharsh"
# s.isalnum
# s.isnumeric
# s.format
f"Suharsh"

'Suharsh'

In [132]:
string = "p w s k i l l s"

" ".join(string.replace(" ", ""))

'p w s k i l l s'

In [136]:
True not False

SyntaxError: invalid syntax (427692260.py, line 1)

In [137]:
"pwskills"[::-1].upper().replace("SLLIKSWP", "pwskills").islower()

True

In [139]:
s = "I want to become a data scientist"

for i in s.split():

    i.capitalize()

    print(i.title())

I
Want
To
Become
A
Data
Scientist

In [142]:
i.rjust

TypeError: 'str' object cannot be interpreted as an integer

In [143]:
'pwskills'[0]='P'

TypeError: 'str' object does not support item assignment

In [144]:
for i in range(1,5):
    print(i)

1
2
3
4

In [145]:
i = 0

while i < 5:

    print(i)

    i += 1

0
1
2
3
4

In [146]:
for course in ['Data Science Masters', 'ML', 'data science masters', 'DL']:

    if len(course)!= 2:

        print('PwSkills' , end=' ')

PwSkills PwSkills

In [147]:
sum = 0

for i in range(1,100):

    sum += i

    if sum > 100:

        break

print(sum)

105

In [ ]:
for i in l2:
    if i=="Suharsh":
        pass

In [ ]:
num = 2

sum = 0

while num <=20:

    sum += num

    num += 2

    count+=1

print(sum)

In [ ]:
for i in 'Pwskills':
    if i.lower() in ['a', 'e', 'i', 'o', 'u']:
        print(True)

In [ ]:
t=(1,2,3)
t[1]=3

In [ ]:
print("Hi")