In [2]:
a=1
while a <= 10:
    print(a)
    a= a+1

1
2
3
4
5
6
7
8
9
10

In [3]:
#for loop never checks condition at first but while checks condition as true then onlt execute

# if conditions fails while loop doestnot let you inside

In [4]:
#summation till some given point:

In [5]:
n = int(input("Enter your limit:"))
start_index = 0
counter = 1
while counter <= n:
    start_index = start_index + counter
    counter += 1
start_index

Enter your limit: 5

15

In [6]:
# factorial of a number  0 and -ve number's factorial is not possible

In [9]:
num = int(input("Enter a number:"))
fact = 1
while num > 0 :
    fact = fact * num
    num -= 1
fact

Enter a number: 3

6

In [10]:
# fibonacci series of a number
# 5 > 0 1 1 2 3 5 [i+1: add last two number and print]

In [12]:
num = int(input("Enter number of element for fibonacci Series:"))
a, b = 0 , 1  # declare starting points as 0 and 1
counter = 0
while counter < num :
    print(a)
    c = a + b
    a = b
    b = c
    counter += 1

Enter number of element for fibonacci Series: 5

0
1
1
2
3

In [13]:
#fibonacci using for-loop
a,b = 0,1
for i in range(10):
    print(a)
    c = a + b
    a = b
    b = c

0
1
1
2
3
5
8
13
21
34

In [14]:
# reverse a string using while loop: 
s= "suharsh"
s[::-1]  #simple slicing method

'hsrahus'

In [15]:
word = input("Enter string to reverse:")
rev = ""   #need to fetch last index and append in rev
length = len(word)
while length > 0:
    rev = rev + word[length - 1]
    length = length - 1
print(rev)

Enter string to reverse: suharsh

hsrahus

In [16]:
#Using for-loop

In [17]:
#To print table of numbers:
n = int(input("Enter table to print:"))
i = 1
while i <= 10:
    result = n * i
    print(n ,"* ", i ,"=" ,result)
    i = i+1

Enter table to print: 5

5 *  1 = 5
5 *  2 = 10
5 *  3 = 15
5 *  4 = 20
5 *  5 = 25
5 *  6 = 30
5 *  7 = 35
5 *  8 = 40
5 *  9 = 45
5 *  10 = 50

In [18]:
#using for loop:

In [20]:
#Using else with While

n = 5
i = 1
while i < n:
    print(i)
    i = i+ 1
else:
    print("This will be executed once while loop completed succesfully")

1
2
3
4
This will be executed once while loop completed succesfully

In [21]:
n = 5
i = 1
while i < n:
    print(i)
    if i == 3:
        break
    i = i+ 1
else:
    print("This will be executed once while loop completed succesfully")

1
2
3